name: Deploy Laravel Project

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH to EC2
        uses: appleboy/ssh-action@master
        with:
          host: 100.53.191.96
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/html/Taldea4_Erronkaa || exit 1
            sudo git config --global --add safe.directory /var/www/html/Taldea4_Erronkaa
            sudo git fetch --all
            sudo git reset --hard origin/main
            cd Taldea4_Erronka
            sudo docker compose up -d --build
            sleep 10
            sudo docker exec artetxea-app php artisan migrate --force
            sudo docker exec artetxea-app php artisan key:generate --force
            sudo docker exec artetxea-app chown -R www-data:www-data storage bootstrap/cache database