name: Deploy React to EC2
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 54.242.1.46
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/html
            # 1. Borramos la carpeta antigua para que no haya archivos duplicados o mal nombrados
            sudo rm -rf Taldea4_Erronkaa
            
            # 2. Clonamos el repositorio actualizado
            git clone https://github.com/${{ github.repository }}.git Taldea4_Erronkaa
            
            # 3. ENTRAR en la carpeta donde está el docker-compose.yml
            cd Taldea4_Erronkaa
            
            # 4. Ahora sí, levantamos Docker (asegúrate de que el nombre no tenga espacios)
            docker compose up -d --build
